<div class="centered">
    <p id="notice"><%= notice %></p>

    <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
        <p>
            <strong><%= t('name') %>:</strong>
            <div class="form-control">
                <%= @player.name %>
            </div>
        </p>
    </div>

    <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
        <p>
            <strong><%= t('player.birth') %>:</strong>
            <div class="form-control">
                <%= @player.birth %>
            </div>
        </p>
    </div>

    <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
        <p>
            <strong><%= t('club.club-title') %>:</strong>
            <div class="form-control">
                <%= @player.clube.name %>
            </div>
        </p>
    </div>

    <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
        <p>
            <strong><%= t('player.trophy') %>:</strong>
            <div class="form-control">
                <%= @player.trophy %>
            </div>
        </p>
    </div>

    <%= link_to t('edit'), edit_player_path(@player), class:"btn btn-success" %>
    <%= link_to t('back'), players_path, class:"btn btn-secondary" %>
</div>
