<div class="centered">
  <p id="notice"><%= notice %></p>
  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
    <p>
      <strong><%= t('name') %>:</strong>
      <div class="form-control">
        <%= @clube.name %>
      </div>
    </p>
  </div>

  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
    <p>
      <strong><%= t('club.birth') %>:</strong>
      <div class="form-control">
        <%= @clube.birth %>
      </div>
    </p>
  </div>

  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
    <p>
      <strong><%= t('championship.championship-title') %>:</strong>
      <div class="form-control">
        <%= @clube.campeonato.name %>
      </div>
    </p>
  </div>

    <%= link_to t('edit'), edit_clube_path(@clube), class:"btn btn-info" %>
    <%= link_to t('back'), clubes_path, class:"btn btn-secondary" %>
</div>
