<div class="centered">
  <p id="notice"><%= notice %></p>
  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
    <p>
      <strong>Name:</strong>
      <div class="form-control">
        <%= @clube.name %>
      </div>
    </p>
  </div>

  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
    <p>
      <strong>Birth:</strong>
      <div class="form-control">
        <%= @clube.birth %>
      </div>
    </p>
  </div>

  <div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-6">
    <p>
      <strong>Campeonato:</strong>
      <div class="form-control">
        <%= @clube.campeonato.name %>
      </div>
    </p>
  </div>

    <%= link_to 'Edit', edit_clube_path(@clube), class:"btn btn-info" %>
    <%= link_to 'Back', clubes_path, class:"btn btn-secondary" %>
</div>
